{% extends "base.html.j2" %}

{% block content %}

<script>
function vote(rating, usr_id, attachment_id){
  console.log("voting")
fetch('/vote?' + new URLSearchParams({
    value: rating,
    usr_id: usr_id,
    attachment_id: attachment_id
    }))}
</script>

<b>Attach Ratings</b>

<div class="container">
<div class="row navigation">
    <div class="col">
            <a href="{{ url_for('homepage') }}">home</a>
    </div>
</div>
{% for post in random_posts %}
    <div class="row">
        <div class="col">
        <span class="nickname">{{ post.nickname }}</span>
        <span class="timestamp">{{ post.timestamp }}</span>
        <br>
        <span class="message">{{ post.content }}</span>
        <br>
        {% if post.type == 'img' %}
            <img class="half" onclick="toggle_size(this)" src="{{ post.url }}">
        {% else %}
            <a href="{{ post.url }}">{{ post.filename }}</a>
        {% endif %}
        </div>
    </div>
    <hr>

<br>
  <button type="button" class="btn btn-outline-dark" onclick='vote(5, {{ usr_id }} , {{ post.attachment_id }} )'>DoublePlusGood</button>
  <button type="button" class="btn btn-outline-dark" onclick='vote(4, {{ usr_id }} , {{ post.attachment_id }} )'>PlusGood</button>
  <button type="button" class="btn btn-outline-dark" onclick='vote(3, {{ usr_id }} , {{ post.attachment_id }} )'>Good</button>
  <button type="button" class="btn btn-outline-dark" onclick='vote(2, {{ usr_id }} , {{ post.attachment_id }} )'>Ungood</button>
  <button type="button" class="btn btn-outline-dark" onclick='vote(1, {{ usr_id }} , {{ post.attachment_id }} )'>DoublePlusUnGood</button>
<br>

{% endfor %}
    <div class="row navigation">
        <div class="col">
                <a href="{{ url_for('random') }}">MOAR Random</a>
        </div>
    </div>
</div>


<br>




{% endblock %}