{% extends "base.html.j2" %}

{% block content %}

<b>Attach Ratings</b>

{% for attachment in all_attachments %}
<br>
<div class="post_header">
<span class="nickname">{{ attachment[2].split('#')[0] }}</span>
Timestamp: {{ attachment[3] }}
ID tag: {{ attachment[1] }}

  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" onclick='vote(5, "{{ usr_id }}" , "{{ attachment[1] }}" )'/>
    <label for="star5" title="DoublePlusGood">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" onclick='vote(4, "{{ usr_id }}" , "{{ attachment[1] }}" )'/>
    <label for="star4" title="PlusGood">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" onclick='vote(3, "{{ usr_id }}" , "{{ attachment[1] }}" ) '/>
    <label for="star3" title="Good">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" onclick='vote(2, "{{ usr_id }}" , "{{ attachment[1] }}" )'/>
    <label for="star2" title="Ungood">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" onclick='vote(1, "{{ usr_id }}" , "{{ attachment[1] }}" )' />
    <label for="star1" title="DoublePlusUnGood">1 star</label>
  </div>

<script>
function vote(rating, usr_id, content_id){
fetch('/vote?' + new URLSearchParams({
    value: rating,
    usr_id: usr_id,
    content_id: content_id
    }))}
</script>


<br>
{% if '.png' in attachment[0] %}
<img style="max-width:100%;" title="{{ attachment[1] }}" alt="{{ attachment[1] }}" src="{{ attachment[0] }}"></img>
{% else %}
<a href="{{ attachment[0] }}">{{ attachment[1] }}<a>
{% endif %}
<br>
{% if attachment[4] %}
<h3> Description: {{ attachment[4] }} </h3>
{% endif %}
</div>
{% endfor %}
{% endblock %}