{% extends "base.html.j2" %}

{% block content %}
<h1>Home page</h1>
{% if user %}
<i>Signed in as <b>
{% if user['user_nickname'] %}
    {{user['user_nickname']}}
{% else %}
    {{user['user_email']}}
{% endif %}
</b></i>
{% else %}
<i>Not signed in</i>
{% endif %}
<ul>
    <li><a href="{{ url_for('register') }}">register</a> No requirements of ANY kind!</li>
    <li><a href="{{ url_for('login') }}">login</a></li>
    <li><a href="{{ url_for('logout') }}">logout</a></li>
    <li><a href="{{ url_for('admin') }}">admin</a></li>
    <li><a href="{{ url_for('profile') }}">profile</a></li>
    <li><a href="{{ url_for('content') }}">content</a></li>
    <li><a href="{{ url_for('attachment') }}">attachment</a></li>
    <li><a href="{{ url_for('pagination', page=1) }}">pagination</a></li>
    <li><a href="{{ url_for('random') }}">random</a></li>
    <li><a href="{{ url_for('dashboard') }}">dashboard</a></li>
    <li><a href="{{ url_for('inferno') }}">inferno</a> Infinite scroll is unethical</li>
    <li><a href="{{ url_for('tweets') }}">tweets</a></li>
    <li><a href="{{ url_for('random_tweets') }}">random_tweets</a></li>
    <li><a href="{{ url_for('attach_ratings') }}">attach_ratings</a> You may vote an infinite amount of times!</li>
    <li><a href="{{ url_for('top_rated') }}">top_rated</a> No Login required</li>
</ul>
{% endblock content %}
